<div class="bist-grid">
   <div class="control-group" style="float:right">
      <i class="icon-search" style="float: none; margin-right: 10px" />
      
      {{i18n.total}} <span id="grid-total">{{filteredData().length}}</span>
      <input type="text" style="float:right;" class="input-medium search-query search-box"
      ng-model="searchText" placeholder="{{i18n.filter}}" name="filter" />
   </div>
   <table class="table table-bordered table-striped" placeholder="{{i18n.filter}}">
      <thead>
         <tr>
            <th ng-repeat="column in columns">
               <a class="header-{{$index}}" ng-click="sort(column)" ng-disabled="options.sorting">
                  {{column.title}}
               </a>
            </th>
         </tr>
      </thead>
      <tbody>
         <tr ng-repeat="row in pageData(pageIndex)"
         ng-click="onClick(row)" ng-dblclick="onDoubleClick(row)" ng-class="{selected: row == selectedRow}">
            <td ng-repeat="column in columns">
               {{row[column.field]}}
            </td>
         </tr>
      </tbody>
   </table>
   <div ng-show="options.paging">
      <ul class="pagination">
         <li ng-class="{disabled: pageIndex == 1}"><a ng-click="first()">« {{i18n.first}} </a></li>
         <li ng-class="{disabled: pageIndex == 1}"><a ng-click="prev()"> {{i18n.previous}}</a></li>
         <li class="pageIndexInput">
            <span>
               <form ng-submit="goToPage(pageIndexInput)">
                  <input type="text" id="pageInput" ng-model="pageIndexInput"> / {{numberOfPages()}}
               </form> 
            </span>
         </li>
         <li ng-class="{disabled: pageIndex == numberOfPages()}"><a ng-click="next()">{{i18n.next}} </a></li>
         <li ng-class="{disabled: pageIndex == numberOfPages()}" ng-show="numberOfPages() > 1"><a ng-click="last()">{{ i18n.last }} »</a></li>
      </ul>
   </div>
</div>