<div class="grid">
   <div class="control-group search-box" ng-show="options.searching">
      <span id="grid-total" class="pull-left">{{i18n.total}}: {{filteredData().length}}</span>
      <span class="pull-right" id="search-box">
         <i class="icon-search" style="float: none; margin-right: 10px" />
         <input type="text" class="input-medium search-query search-box"
         ng-model="searchText" placeholder="{{i18n.filter}}" name="filter" ng-change="pageIndex = 1"/>
      </span>
   </div>
   <table class="table table-bordered table-striped" placeholder="{{i18n.filter}}">
      <thead>
         <tr>
            <th ng-repeat="column in columns" ng-hide="column.hidden" style="width: {{column.width}}">
               <a class="header-{{$index}}" ng-click="sort(column)" ng-show="options.sorting">
                  {{column.title}}
                  <i ng-class="{'icon-sort-by-alphabet-alt' : sortExpression==column.field && reverseOrder ,'icon-sort-by-alphabet': sortExpression == column.field && !reverseOrder, 'icon-sort-by-attributes': sortExpression != column.field}" ></i>
               </a>
               <span class="header-{{$index}}" ng-show="!options.sorting">
                  {{column.title}}
               </a>
            </th>
         </tr>
      </thead>
      <tbody>
         <tr ng-repeat="row in pageData()"
         ng-click="onClick(row, $index)" ng-dblclick="onDoubleClick(row)" ng-class="{selected: $index == selectedIndex}">
            <td ng-repeat="column in columns" ng-hide="column.hidden" style="width: {{column.width}}">
               {{row[column.field]}}
            </td>
         </tr>
      </tbody>
   </table>
   <div ng-show="options.paging" class="grid-pagination">
      <ul class="pagination">
         <li ng-class="{disabled: pageIndex == 1}" ><a ng-click="first()"><i class="grid-icon icon-double-angle-left"></i></a></li>
         <li ng-class="{disabled: pageIndex == 1}"><a ng-click="prev()"><i class="grid-icon icon-angle-left"></i> </a></li>
         <li class="pageIndexInput">
            <span>
               <form ng-submit="goToPage(pageIndexInput)">
                  <input type="text" id="pageInput" ng-model="pageIndexInput"> / {{numberOfPages()}}
               </form> 
            </span>
         </li>
         <li ng-class="{disabled: pageIndex == numberOfPages()}"><a ng-click="next()"><i class="grid-icon icon-angle-right"></i> </a></li>
         <li ng-class="{disabled: pageIndex == numberOfPages()}"><a ng-click="last()"><i class="grid-icon icon-double-angle-right"></i></a></li>
      </ul>
   </div>
</div>